# Adapted from terra-workspace-manager .gitignore

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### Emacs backup files
*.*~

### Mac directory metadata
.DS_Store

### Beyond Compare Backups
*.orig
